<div class="center jumbotron">
  <% if logged_in? %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <b><%= t "e_learning" %></b>
      </div>
      <div class="row">
        <div class="col-md-4" style="padding-left: 50px;">
          <div class="caption">
            <section class="user_info">
              <%= render "shared/user_infor" %>
            </section>
          </div>
        </div>
        <div class="col-md-8">
          <%= link_to t("word_list"), words_path, class: "action-button shadow animate blue" %>
          <%= link_to t("lesson.lesson"), lessons_path, class: "action-button shadow animate red" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <%= render "shared/feed" %>
        </div>
      </div>
    </div>
  <% else %>
    <h1><%= t "title.welcome" %></h1>
    <h2>
      <%= t("jumbotron.content1") %>
      <%= link_to t("title.footer.home1"), "http://www.railstutorial.org/" %>
      <%= t("jumbotron.content2") %>
    </h2>
    <%= link_to t("pages.signup"), signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), "http://rubyonrails.org/" %>
