<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <%= render "shared/search" %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2"><%= t "title.id" %></th>
          <th class="col-md-3"><%= t "title.content" %></th>
          <th class="col-md-3"><%= t "title.answer" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @words %>    
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate %>


