<footer class="footer">
  <small>
    <%= link_to t("title.footer.home1"), "http://www.railstutorial.org/" %>
    <%= link_to t("title.footer.author"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("title.footer.about"), "#" %></li>
      <li><%= link_to t("title.footer.contact"), "#" %></li>
      <li><%= link_to t("title.footer.new"), "http://www.news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>